* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: roboto, arial, helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

nav {
    background-color: deepskyblue;
    color: white;
    padding: 20px;
    text-align: center;
}

nav h1 {
    font-size: 3em;
}

.content {
    display: flex;
}

.city-search {
    padding: 20px;
}

label {
    width: 100%;
    font-size: 2em;
    font-weight: bold;
}

input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid deepskyblue;
    font-size: 1.5em;
    padding: 10px;
}

#search {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: deepskyblue;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
}

.search-wrapper {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.city-wrapper {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 20px;
}

.city-details {
    padding: 20px;
    width: 100%;
    height: 33vh;
    border: 1px solid deepskyblue;
    border-radius: 20px;
    margin-bottom: 20px;
}

.city-details h2 {
    font-size: 2em;
    font-weight: bold;
}

.city-details h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.week-forecast {
    padding: 20px;
    width: 100%;
    height: 33vh;
    border: 1px solid deepskyblue;
    border-radius: 20px;
    display: flex;
}

.week-forecast {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.forecast-card {
    background-color: deepskyblue;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
    width: 19%;
}

.past-searches {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    align-items: center;
    color: deepskyblue;
}

.city-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
}

.city-button:hover {
    background-color: deepskyblue;
    color: white;
}